body {
    font-family: sans-serif;
}

.whole {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 97vh;
    border: 1px solid black;
    /* display: inline-block; */
}

.gameName {
    border: 1px solid black;
    height: 7%;
}

.gameBox {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 93%;
    border: 1px solid black;
    display: inline-block;
}

.container {
    border: 1px solid black;
    height: 90%;
}

.level {
    border: 1px solid black;
    height: 10%;
}


.right {
    /* border: 1px solid black; */
    width: 29%;
    display: inline-block;
    vertical-align: top;
}

.insertName {
    width: 100%;
    /* border: 1px solid black; */
    margin: 40vh auto 0 auto;
}

h1 {
    text-align: center;
}

.text {
    height: 30px;
}

.bigBox {
    /* margin: 15vh auto 0 auto; */
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin: 0 auto;
    line-height: 1px;
}

.smallBox {
    /* border: 1px solid black; */
    border: 1px solid white;
    position: relative;
    display: inline;
}

#name {
    left: 38%;
    position: absolute;
    height: 30px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

#select {
    left: 46%;
    /* position: absolute; */
    display: block;
    top: 20px;
    position: relative;
    padding: 10px;
}

.button {
    text-align: center;
    position: relative;
    padding: 10px;
    /* border: 1px solid darkblue; */
    background-color: coral;
    display: block;
    color: white;
    width: 100px;
    height: 20px;
    left: 43%;
    top: 30px;
    /* margin: 0 auto; */
}

.button:hover {
    background-color: brown;
}

.playerBox {
    /* background-color: red; */
    background-image: url('img/player.png');
    background-size: contain;
}

.botBox {
    /* background-color: grey; */
    /* background-image: url('img/zombies.png'); */
    background-image: url('img/cuteSkullBlack.png');
    background-size: contain;
}

.bulletBox {
    /* background-color: black; */
    background-image: url('img/gunB.png');
    background-size: contain;
}

#myHealth {
    width: 100%;
    background-color: #ddd;
  }
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }

.weapons {
    position: relative;
    margin-top: 40px;
}

.weaponBox {
    width: 99%;
    height: 80px;
    background-color: beige;
    color: brown;
    border: 1px solid grey;
    margin: 10px auto;
    position: relative;
    top: 10px;
    border-radius: 10px;
}

.noWeaponBox {
    width: 99%;
    height: 80px;
    background-color: gray;
    color: darkgray;
    border: 1px solid black;
    margin: 10px auto;
    position: relative;
    top: 10px;
    border-radius: 10px;
}

.botsLeft {
    position: relative;
    margin-top: 40px;
}